* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  height: 100%;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #e7e8e8;
}

.calculator__line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input[type="button"] {
  border: 0;
  cursor: pointer;
  width: 23%;
  height: 3rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
  color: #2a2e37;
  font-size: 1rem;
  font-weight: bold;
}

.calculator_full__operation_wrapper {
  text-align: right;
  font-size: 1.2rem;
  color: #292d36;
  min-height: 1.5rem;
}

#calculator__operation {
  color: #f16868;
}

.calculator__visor {
  padding: 6rem 1rem 2rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

#visor {
  cursor: initial;
  border: 0;
  width: 100%;
  text-align: right;
  font-size: 3rem;
  color: #292d36;
}

#operation,
#equal,
#clear {
  color: #f16868;
}

input[type="button"]:hover {
  filter: brightness(0.9);
}

.calculator__line {
  margin: 0.5rem 0;
}

section {
  margin: 0 1rem;
}

.calculator__wrapper {
  background-color: #ffffff;
  max-width: 320px;
  margin: 4rem auto;
  border-radius: 1rem;
}

.calculator__numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
}

.text__not_possible {
  padding: 0.9rem 0;
  font-size: 1.4rem !important;
}
